__pycache__
.coverage
.DS_Store
.pytest_cache/
.ipynb_checkpoints/
.python-version
node_modules
tmp
.vscode
.env*
.idea
.nvmrc
*.pyc
.*.swp
excito_diffusion.egg-info
build/*
dist/*
*.log
*egg-info*
target/**
experiment/target/**
